body{
    background-color:rgb(31, 31, 31)
}


.background{
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0);
    background-repeat: no-repeat;
    filter:blur(100px);
    position: relative;
    overflow: hidden;
}


.figure1{
    width: 60vw;
    height: 50vw;
    background-image: url("../img/1.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 0%;
    top: -7%;
    opacity: 0.9;
    animation: rotating 35s linear infinite;
    transform-origin: 70% 50%;
}


.figure2{
    width: 60vw;
    height: 50vw;
    background-image: url("../img/2.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: -10%;
    top: -10.5%;
    opacity: 0.9;
    animation: rotating 35s linear infinite;
    transform-origin: 60% 50%;
}

.figure3{
    width: 60vw;
    height: 50vw;
    background-image: url("../img/3.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: -7.5%;
    top: 45%;
    opacity: 0.9;
    animation: rotating 35s linear infinite;
    transform-origin: 60% 50%;
}


.active-figure{
    width: 60vw;
    height: 50vw;
    background-image: url("../img/4.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 10;
    /* transition: transform 0.1s ease-in; */
 
}


.cursor-zone {
     width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    pointer-events: none;
}


.cursor-circle {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(202, 144, 197);
    left: 0;
    top: 0;
    transform-origin: 50% 50%;
    pointer-events: none;
}


/* h1 {
    font-size: 40px;
    line-height: 58px;
}

h2 {
    font-size: 36px;
    line-height: 42px;
}

h3 {
    font-size: 24px;
    line-height: 30px;
} */







@keyframes rotating {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}